/* CSS Document */
/*帮助中心*/
.help_left{
	width:190px;
	background:#fff;
	margin-top:45px;
	float:left;
	margin-bottom:50px;
	}
.help_right{
	width:945px;
	float:right;
	margin-top:45px;
	margin-bottom:50px;
	}
.helplist{
	width:100%;
	}
.helplist li{
	width:100%;
	font-size:16px;
	color:#333333;
	line-height:35px;
	margin-top:25px;
	margin-bottom:20px;}
.helplist li a{
	color:#333;
	margin-left:18px;
	}
.helplist li dl{
	width:100%;
}
.helplist li dd{
	font-size:12px;
	line-height:30px;
	}
.helplist li dd:hover{
	background:#f6f6f6;
	border-left:1px solid #ff5308;
	}
.helplist li dd:hover a{
	color:#ff5308;
	}
.title_help{
	width:100%;
	float:left;
	line-height:25px;
	height:25px;
     margin-top:30px;
	 font-size:22px;
	color:#333333;}
.title_help span{
	border-left:4px solid #ff5308;
	margin-left:35px;
	padding-left:6px;}
.help_font{
	width:100%;
	float:left;
	margin-top:30px;
	font-size:14px;
	line-height:25px;
	color:#333;
	padding-bottom:150px;
	}
.help_font p{
	margin:0 35px;}
.aboutlist{
	width:100%;
	margin:30px 0;
	float:left;
	}
.aboutlist li{
	font-size:18px;
	line-height:45px;
	color:#333333;
	width:100%;
	margin-left:45px;
	}
.aboutlist li a{
	color:#333333;}
.aboutlist li:hover a{
	color:#ff5400;}
.helf_contet{
	width:100%;
	float:left;
	}
.helpalk{
	width:100%;
	float:left;
	font-size:16px;
	line-height:25px;
	color:#333;
	}
.dlintts{
	width:100%;
	float:left;
	margin:65px 0;
	font-size:14px;
	line-height:25px;
	color:#333;
	}
.dlintts dt{
	font-size:24px;
	margin-bottom:30px;

}
.dlintts  dl{
	width:365px;
	margin-right:65px;
	float:left;}
.partner{
	width:100%;
	float:left;
	margin-top:35px;
	}
.partner li{
	width:206px;
	height:174px;
	float:left;
	box-shadow:0 0 3px #ccc;
	margin-right:35px;
	margin-bottom:35px;
	position:relative;
	}
.partner li:nth-child(4n+4){
	margin-right:0;}
.maskyelloe{
	position:absolute;
	left:0;
	bottom:0;
	width:206px;
	height:174px;
	background:#ffc350;
	font-size:18px;
	line-height:174px;
	text-align:center;
	}
.helcona{
	width:100%;
	float:left;
	height:190px;
	float:left;
	background:#ffffff;
	margin-top:35px;}
.condd{
	width:205px;
	float:left;
	text-align:center;
	margin-top:60px;}
.conhha{
	width:620px;
	float:left;
	font-size:14px;
	color:#333;
	background:url(../images/b2.png) right center no-repeat;
	line-height:35px;
	}
.conhha .fuai{
	font-size:18px;
	color:#333333;
	margin-top:35px;}
.conhha .fuaa{
	font-size:24px;
	color:#333333;
	margin-top:10px;}
.conlisy{
	width:100%;
	float:left;
	margin-top:35px;
	margin-bottom:250px;
	}
.conlisy li{
	width:280px;
	height:215px;
	float:left;
	margin-right:50px;
	background:#fff;
	text-align:center;
	line-height:25px;
	font-size:14px;
	color:#333;
	}
.conlisy li span{
	display:block;
	width:100%;
	text-align:center;
	height:86px;
	margin-top:25px;
	}
.conlisy li .youa{
	font-size:18px;
	height:35px;}
/******验光师会员中心****/
.membernav{
	background:url(../images/btn6.jpg) no-repeat;
	width:180px;
	height:45px;
	float:left;
	font-size:18px;
	color:#fff;
	line-height:45px;
	text-indent:76px;
	}
.membernav a{
	color:#fff;}
.memmenu{
	float:left;
	margin-left:70px;
	}
.memmenu li{
	font-size:16px;
	line-height:45px;
	margin-right:75px;
	}
.memmenu li a{
	color:#fff;}
.member_left{
	width:178px;
	border-bottom:1px solid #e0e0e0;
	border-left:1px solid #e0e0e0;
	background:#f9f9f9;
	border-right:1px solid #e0e0e0;
	float:left;
	}
.left_member{
	width:140px;
	float:left;
	margin-left:18px;
	}
.left_member li{
	width:100%;
	float:left;
	border-bottom:1px solid #e8e8e8;
	padding:20px 0;
	font-size:14px;
	line-height:20px;
	color:#333333;
	}
.left_member li a{
	color:#333;}
.left_member li dl{
	width:100%;
	margin-top:4px;
	}
.left_member li dd{
	font-size:12px;
	line-height:30px;
	}
.left_member li dd a{
	margin-left:25px;}
.left_member li dd:hover a{
	color:#ff5500;
	}
.icoa{
	display:block;
	float:left;
	width:20px;
	margin-left:5px;}
.member_right{
	width:1005px;
	float:right;
	}
.memner_title{
	width:100%;
	float:left;
	font-size:12px;
	line-height:25px;
	margin-top:18px;
	color:#666;
	}
.memner_title a{
	color:#666;
	}
.memtable{
	width:100%;
	float:left;
	border:1px solid #e0e0e0;
	padding:18px 0;
	}
.hhaa{
	width:100%;
	text-align:center;
	}
.akks{
	font-size:14px;
	line-height:25px;
	color:#666;
	}
.akks span{
	font-weight:bold;
	font-size:18px;
	}
.bkks{
	font-size:12px;
	line-height:25px;
	color:#444;
	margin-top:10px;
	}
.bkks span{
	display:block;
	float:left;
	margin-top:4px;
	margin-right:4px;
}
.bkks a{
	color:#3090f2;}
.mshummd{
	width:100%;
	font-size:12px;
	color:#444444;
	margin-top:8px;
	}
.mshummd span{
	float:left;
	margin-top:3px;
	} 
.mshummd  .jhjh{
	margin-left:5px;
	margin-right:5px;
	margin-top:4px;
	}
.mshummd .ss{
	color:#ff8a00;
	margin-left:5px;}
.mshummd .ssd{
	color:#3090f2;
	margin-left:5px;}
.hagan{
	width:100%;
	margin-top:15px;
	}
.hagan a{
	background:#f2f2f2;
	font-size:12px;
	padding:2px 6px;
	border-radius:10px;
	}
.maijia{
	width:100%;
	float:left;
	margin-top:15px;
	}
.maijia li{
	float:left;
	margin-right:15px;
	}
.maijia li p{
	font-size:14px;
	color:#333333;
	line-height:25px;
	margin-left:95px;
	padding-top:30px;
	}
.maijia li h3{
	font-size:30px;
	color:#666666;
	line-height:25px;
	margin-left:95px;
	font-weight:normal;
	margin-top:18px;
	}
.maiaa{
	background:url(../images/bga.jpg) no-repeat;
	width:240px;
	height:133px;
	}
.maibb{
	background:url(../images/bga2.jpg) no-repeat;
	width:240px;
	height:133px;
	}
.maicc{
	background:url(../images/bga3.jpg) no-repeat;
	width:240px;
	height:133px;
	}
.maidd{
	background:url(../images/bga4.png) no-repeat;
	width:240px;
	height:133px;
	}
.borderwall{
	width:100%;
	float:left;
	border:1px solid #e0e0e0;
	margin-top:10px;
	}
.title_loske{
	width:100%;
	height:50px;
	float:left;
	border-bottom:1px solid #e0e0df;
	background:#f9f9f9;
	line-height:50px;
	}
.title_loske span{
	font-size:16px;
	line-height:50px;
	margin-left:25px;
	color:#333;
	}
.title_loske a{
	float:right;
	margin-right:25px;
	}
.doyoulist{
	width:100%;
	float:left;
	margin:50px 0;
	}
.doyoulist li{
	width:215px;
	float:left;
	margin-left:30px;
	height:215px;
	}
.doyoulist li:nth-child(4n+4){
	margin-right:0;
	}
.doyoulist li span{
	display:block;
	width:100%;
	height:140px;
	text-align: center;
	}
.douone{
	font-size:20px;
	color:#d10003;
	}
.doutwo{
	font-size:12px;
	color:#333333;
	line-height:25px;
	}
.dousan{
	font-size:12px;
	color:#999;
	line-height:25px;
	}
/******全部订单*****/
.whefdui{
	width:100%;
	float:left;}
.kjhgd{
	border-collapse:collapse;}
.kjhgd td{
	height:55px;
	font-family:"宋体";
	font-size:12px;
	color:#444444;
	vertical-align:middle;
	line-height:55px;
	}
.kjhgd .jkhytp{
	text-align:right;
	padding-right:5px;
	}
.mkjhe{
	width:135px;
	border:1px solid #dfdfdf;
	height:28px;}
.mkjhea{
	width:105px;
	border:1px solid #dfdfdf;
	height:28px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;}
.nmjhgt{
	width:105px;
	border:1px solid #dfdfdf;
	height:30px;
	padding:3px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;
	}
.buhy{
	width:64px;
	height:30px;
	cursor:pointer;
	background-color:#eaeaea;
	font-size:12px;
	text-align:center;
	color:#333;
	border:0;
	border:1px solid #e0e0e0;
	border-radius:5px;
	}
.tableu{
	width:100%;
	border:1px solid #eaeaea;
	border-collapse:collapse;
	float:left;
	margin-top:18px;
	}
.tableu td{
	font-size:12px;
	color:#4b4b4b;
	line-height:45px;
	text-align:center;
	border-bottom:1px solid #eaeaea;}
.tableu td a{
	color:#333333;}
.tableu td span{
	color:#ff5400;}
.tableu td p{
	text-align:left;
	}
.thuw{
	background-color:#f9f9f9;
	}
.thuw td{
	font-weight:bold;}
.heaiz{
	width:100%;
	float:left;
	margin-top:10px;
	}
.tableu .green{
	color:#11941a;
	font-weight:bold;}
.tableu .red{
	color:#d12200;
	font-weight:bold;}
.tabe{
	width:100%;
	border:1px solid #eaeaea;
	border-collapse:collapse;
	float:left;
	}
.thdf{
	width:100%;
	height:25px;
	background-color:#f8f8f8;
	}
.tabe td{
	border-bottom:1px solid #eaeaea;
	font-size:12px;
	text-align:center;
	color:#333;
	}
.leftmm{
	float:left;
	font-size:12px;
	color:#444;
	line-height:30px;
	margin-left:30px;}
.riuimm{
	float:left;
	font-size:12px;
	color:#444;
	line-height:30px;
	margin-left:40px;
	}
.lansbu{
	color:#e62600;
	font-weight:bold;
	}
.bousy a{
	color:#444;
	}
.bousy img{
	width:73px;
	height:55px;
	text-align:center;
	}
.huwbd{
	width:100%;
	}
.huwbd td{
	height:85px;
	color:#686868;
	}
.huwbd td a{
	color:#006dd3;}
.lahvb{
	text-align:left;
	width:300px;
	color:#e62600;
	font-weight:bold;
	}
.rewd{
	color:#11941a;
	}
.leftmm input{
	display:block;
	float:left;
	margin-right:5px;
	margin-left:8px;
	margin-top:10px;
	}
.akone{
	font-size:14px;
	color:#333;
	width:100%;
	text-align:left;
	line-height:25px;
	}
.bkone{
	font-size:12px;
	color:#787878;
	width:100%;
	text-align:left;
	line-height:25px;
	}
.rewsd{
	font-weight:bold;}
.daifuk{
	width:50px;
	height:22px;
	background-color:#ff5400;
	color:#fff;
	border:0;
	}
.lanju{
	color:#e62600;
	font-weight:bold;}
.kjhgd{
	border-collapse:collapse;}
.kjhgd td{
	height:55px;
	font-family:"宋体";
	font-size:12px;
	color:#444444;
	vertical-align:middle;
	line-height:55px;
	}
.kjhgd .jkhytp{
	text-align:right;
	padding-right:5px;
	}
.mkjhe{
	width:135px;
	border:1px solid #dfdfdf;
	height:28px;}
.mkjhea{
	width:105px;
	border:1px solid #dfdfdf;
	height:28px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;
	text-indent:5px;}
.nmjhgt{
	width:105px;
	border:1px solid #dfdfdf;
	height:30px;
	padding:3px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999999;
	}
/***订单详情**/
.oiawe{
	width:961px;
	height:auto;
	float:left;
	margin-left:18px;
	margin-top:10px;
	}
.oiawe li{
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #eeeeee;
	margin-top:15px;
	padding-bottom:15px;
	}
.oiawe li .oia{
	font-weight:bold;
	color:#444444;
	}
.oiawe li .oia span{
	color:#21b51e;
	}
.oiawe li .oib{
	margin-top:5px;
	color:#444444;
	}
.oiawe li .oib span{
	color:#d00002;
	}
/******applyrecord*****/
.applfont{
	width:100%;
	float:left;
	margin-top:15px;
	height:25px;
	font-size:18px;
	}
.applfont span{
	border-left:3px solid #ff5500;
	display:block;
	float:left;
	line-height:20px;
	padding-left:5px;}
/****income****/
.income{
	width:100%;
	height:50px;
	padding:15px 0;
	background:#f7f5ef;
	position:relative;
	float:left;
	margin-top:15px;
	}
.income p{
	font-size:12px;
	line-height:25px;
	color:#333;
	margin-left:20px;
	}
.income .infomf{
	font-size:14px;
	}
.infomf span{
	color:#f85800;
	font-size:18px;} 
.btnicome{
	width:100px;
	height:50px;
	background:#ffe360;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	border:0;
	cursor:pointer;
	position:absolute;
	right:15px;
	top:15px;
	color:#f85800;}
/****releasethem*****/
.themfont{
	width:100%;
	float:left;
	font-size:24px;
	color:#333;
	text-align:center;
	line-height:30px;
	margin:30px 0;}
.themlist{
	width:880px;
	float:left;
	margin-left:55px;
	}
.themlist li{
	width:100%;
	float:left;
	margin-bottom:20px;
	}
.title_them{
	width:100%;
	float:left;
	background:url(../images/bga5.jpg) repeat-x;
	font-size:18px;
	color:#333333;
	}
.title_them span{
	border-left:3px solid #ff5500;
	display:block;
	float:left;
	line-height:20px;
	padding-left:5px;
	background:#fff;
	padding-right:15px;}
.themfonts{
	width:140px;
	float:left;
	font-size:14px;
	text-align:right;
	margin-right:10px;
	color:#333;
	line-height:30px;
	}
.temfona{
	float:left;
	font-size:14px;
	line-height:30px;
	color:#333;
	margin-right:15px;
	}
.temfona input{
	display:block;
	float:left;
	margin-top:8px;
	margin-right:3px;
	}
.temdtxt{
	width:120px;
	height:30px;
	border:1px solid #cccccc;
	float:left;
	font-size:14px;
	line-height:30px;
	color:#888;
	text-indent:5px;
	margin-right:10px;}
.temdtxtla{
	width:280px;
	height:30px;
	border:1px solid #cccccc;
	float:left;
	font-size:14px;
	line-height:30px;
	color:#888;
	text-indent:5px;
	margin-right:10px;}
.temdtxtka{
	width:280px;
	height:90px;
	border:1px solid #cccccc;
	float:left;
	font-size:14px;
	line-height:30px;
	color:#888;
	text-indent:5px;
	margin-right:10px;}
.zhngshu{
	float:left;
	margin-right:10px;
	}
.zhngshu input{
	width:104px;
	height:34px;
	font-size:14px;
	border:0;
	background:#ff5400;
	border-radius:3px;
	color:#fff;
	cursor:pointer;}
.zhngshu p{
	font-size:12px;
	line-height:22px;
	color:#666666;
	margin-top:10px;}
.bgrau{
	width:615px;
	padding:10px 18px 0 18px;
	background:#f5f5f5;
	float:left;
	}
.bgrau dd{
	width:120px;
	float:left;
	font-size:14px;
	line-height:20px;
	margin-bottom:15px;
	}
.bgrau dd input{
	display:block;
	float:left;
	margin-top:5px;
	margin-right:3px;}
.btnbua{
	width:100%;
	float:left;
	height:60px;
	background:#fff8e6;
	border-top:1px solid #e0e0e0;
	text-align:center;
	margin-top:60px;
	}
.btnbua  input{
	width:255px;
	height:60px;
	font-size:18px;
	border:0;
	background:#fdad00;
	color:#fff;
	cursor:pointer;}
.hhau{
	font-size:12px;
	line-height:20px;
	color:#666666;
	}
.chuz{
	width:135px;
	height:40px;
	font-size:14px;
	font-weight:bold;
	border:0;
	background:#fdad00;
	color:#fff;
	cursor:pointer;
	border-radius:5px;}
/****integral***/
.integralm{
	width:100%;
	float:left;
	border-collapse:collapse;
	border:1px solid #e0e0e0;
	margin-top:15px;
	}
.integralm td{
	width:335px;
	height:105px;
	border:1px solid #e0e0e0;
	}
.integralm td span{
	display:block;
	width:100px;
	float:left;
	margin-left:40px;
	text-align:center;
	height:70px;
	}
.integralm td  h3{
	font-size:22px;
	color:#555555;
	font-weight:normal;
	}
.integralm td  p{
	font-size:14px;
	color:#333;
	font-weight:normal;
	margin-top:12px;
	}
.integralm td .yellow{
	color:#f97b00;}
/****evaluation*****/
.tableeva{
	width:100%;
	float:left;
	margin-top:10px;
	}
.tableeva table{
	width:970px;
	margin-left:15px;
	}
.tableeva table td{
	border-bottom:1px solid #ececed;
	height:115px;}
.tableeva table th{
	height:40px;
	background:#fbf5e6;
	font-size:14px;
	font-weight:normal;
	color:#333;}
.comments{
	width:100%;
	float:left;
	margin:60px 0;}
.comments li{
	width:100%;
	float:left;
	margin-bottom:40px;
	}
.confont{
	font-size:14px;
	color:#333333;
	font-family:"微软雅黑";
	line-height:25xp;
	float:left;
	width:230px;
	text-align:right;
	margin-right:10px;
	}
.tarrtq{
	width:520px;
	float:left;
	height:120px;
	border:1px solid #dcdcdc;
	font-size:12px;
	line-height:25px;
	color:#666;
	border-radius:3px;
	padding:10px;
	}
.dianss{
	float:left;
	font-size:14px;
	line-height:25px;
	color:#444;
	}
.xinga{
	float:left;
	margin-right:2px;
		margin-left:15px;
	}
.conmfen{
	font-size:14px;
	color:#e3000b;
	margin-left:15px;
	line-height:25px;
	}
.subnmie{
	background:#f2a728;
	width:171px;
	height:40px;
	border:0;
	font-size:16px;
	color:#fff;
	line-height:40px;
	cursor:pointer;
	float:left;
	border-radius:5px;
	}
/*****我的订单*****/
.dinagd{
	margin-right:35px;
	line-height:30px;}
.tabe .balck{
	color:#333;}
.pays{
	width:35px;
	height:20px;
	background:#f2a728;
	font-size:12px;
	border:0;
	color:#fff;
	}
.tabe  .yellow{
	color:#fe5600;}
.oiawe li table{
	border-collapse:collapse;
	}
.oiawe li table td{
	font-size:12px;
	color:#444;
	line-height:25px;
	}
.oiawe li table td a{
	color:#ff5400;}
.icae{
	width:987px;
	height:25px;
	float:left;
	line-height:25px;
	color:#333;
	font-weight:600;
	text-indent:30px;
	margin-top:20px;
	}
/****collection*****/
.collection{
	width:100%;
	float:left;
	margin:50px 0;
	}
.collection li{
	width:245px;
	float:left;
	margin-left:40px;
	height:270px;
	padding:15px;
	position:relative;
	border:1px solid #fff;
	}

.collection li span{
	display:block;
	width:100%;
	height:190px;
	text-align: center;
	}
.mashk{
	position:absolute;
	right:0;
	top:0;}
.collection .on{
	border:1px solid #f2a728;}
/****messagem****/
.messagem{
	width:100%;
	float:left;
	margin-top:15px;
	}
.messagem li{
	width:970px;
	padding:15px 16px;
	border:1px solid #e0e0e0;
	box-shadow:0 3px 3px #ccc;
	float:left;
	margin-bottom:18px;}
.mase{
	width:100%;
	height:30px;
	border-bottom:1px solid #e0e0e0;
	}
.mase span{
	background:url(../images/ia49.png) left center no-repeat;
	font-size:14px;
	color:#333333;
	line-height:30px;
	padding-left:30px;}
.mase  a{
	float:right;
	}
.mastw{
	width:100%;
	}
.mastw p{
	margin-top:10px;}
.mastw .aihi{
	font-size:14px;
	color:#333;
	}
.mastw .bheiu{
	font-size:14px;
	color:#666666;
	}
.kjka{
	color:#999;
	}
.kjka .datwl{
	float:left;
	}
.kjka .yuan{
	float:right;
	}
/***查看消息****/
.borderpp{
	width:970px;
	padding:15px 16px;
	border:1px solid #e0e0e0;
	float:left;
	margin-top:15px;}
.masstitle{
	width:100%;
	height:40px;
	font-size:18px;
	border-bottom:1px solid #e1e1e1;
	text-align:center;
	}
.datrt{
	width:100%;
	text-align:center;
	font-size:14px;
	line-height:30px;
	color:#999;
	}
.datrt span{
	margin-right:25px;
	}
.mofont{
	width:100%;
	float:left;
	font-size:14px;
	color:#666;
	margin-top:45px;
	}
/******single****/
.tableu .yellow{
	color:#f97b00;}
.single{
	width:100%;
	float:left;
	border-bottom:1px solid #e1e1e1;
	background:#f9f9f9;
	border-collapse:collapse;
	}
.single td{
	font-size:14px;
	color:#333;
	text-indent:35px;
	line-height:65px;} 
.yisilm{
	float:left;
	margin:30px 45px;
	}
.tabledeta{
	width:895px;
	float:left;
	border:1px solid #eaeaea;
	border-collapse:collapse;
	margin-bottom:10px;
	}
.tabledeta td{
	font-size:14px;
	color:#333333;
	text-align:center;
	padding:20px 0;
	border:1px solid #eaeaea;}
.tabledeta th{
	font-size:18px;
	color:#888888;
	text-align:center;
	background:#f9f9f9;
	border:1px solid #eaeaea;
	width:160px;
	font-weight:normal;}
.tabledeta td span{
	color:#f97b00;}
.dinggelfont{
	width:100%;
	float:left;
	font-size:14px;
	line-height:25px;
	color:#333333;
	margin-bottom:35px;}
.dinggelfont span{
	float:right;}
/****personal****/
.pemenua{
	width:100%;
	float:left;
	height:35px;
	border-bottom:2px solid #e9e9e9;
	font-size:16px;
	font-weight:bold;
	margin-top:15px;
	}
.pemenua li{
	float:left;
	padding:0 25px;
	float:left;
	color:#666666;
	line-height:35px;
	margin-right:15px;
	}
.pemenua li a{color:#666666;}
.pemenua .on{
	border-bottom:2px solid #f5b900;
	}
.pemenua .on a{
	color:#f5b900;}
.rifour{
	width:1030px;
	height:auto;
	float:left;
	margin-bottom:100px;
	}
.rifour li{
	width:1030px;
	min-height:32px;
	margin-top:18px;
	float:left;
	}
.rifour li p{
	width:240px;
	height:32px;
	float:left;
	line-height:32px;
	text-align:right;
	color:#444;
	word-spacing:8px;
    letter-spacing:4px;
	}
.rifour li  .skj{
	 letter-spacing:-1px;}
.rifour li span{
	float:left;
	line-height:32px;
	color:#444;
	margin-left:15px;
	}
.mtxt5{
	width:200px;
	height:30px;
	border:1px solid #d6d6d6;
	float:left;
	color:#666;
	text-indent:5px;
	}
.mtxt6{
	width:99px;
	height:30px;
	border:1px solid #d6d6d6;
	float:left;
	margin-right:5px;
	}
.mwdhd{
	width:549px;
	height:239px;
	border:1px solid #cccccc;
	float:left;
	background:#fff;
	}
.mtxt3{
	width:520px;
	height:30px;
	color:#666;
	text-indent:5px;
	border:1px solid #d6d6d6;
	float:left;
	}
.mbut2{
	width:170px;
	height:40px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	font-weight:bold;
	text-align:center;
	background-color:#f2a728;
	text-align:center;
	cursor:pointer;
	float:left;
	border:0;
	border-radius:3px;}
.adress{
	width:100%;
	float:left;
	margin-top:35px;
	}
.adress li{
	width:500px;
	float:left;
	margin-bottom:30px;
	}
.adesinput{
	width:50px;
	float:left;
	text-align:center;
	}
.adesinput input{
	margin-top:65px;}
 .adresborder{
	 width:395px;
	 height:145px;
	 border:1px solid #e0e0e0;
	 float:left;
	 position:relative;
	 }
.adresti{
	width:100%;
	height:40px;
	font-size:12px;
	color:#333;
	background:#f9f9f9;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
	}
.adresti span{
	color:#444444;
	margin-left:35px;
	float:left;
	font-size:14px;
	font-weight:bold;
	}
.adresti a{
	float:right;
	color:#666;
	margin-right:15px;}
.adresborder p{
	font-size:14px;
	color:#444444;
	line-height:25px;
	margin:5px 35px;}
.adresborder .moa{
	margin-top:15px;}
.deletwe{
	position:absolute;
	right:20px;
	bottom:10px;}
.deletwe span{
	color:#dbdbdb;
	margin:0 15px;
	font-size:18px;
	line-height:30px;
	float:left;}
.deletwe a{
	display:block;
	float:left;
	margin-top:5px;}
.ritwzb{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	margin-bottom:45px;
	}
.ritwzb ul li{
	min-height:32px;
	width:1030px;
	margin-top:18px;
	float:left;
	}
.ritwzb ul li .mh{
	width:140px;
	height:30px;
	float:left;
	text-align:right;
	line-height:30px;
	margin-right:5px;
	*margin-left:12px;
	}
.ritwzb ul li .mh .mi{
	color:#ed3a36;
	line-height:30px;
	margin-right:5px;
	}
.ritwzb ul li .mj{
	float:left;
	line-height:32px;
	margin-left:20px;
	color:#444444;
	}
.ritwzb ul li .mk{
	float:left;
	line-height:32px;
	margin-left:20px;
	color:#999999;
	}
.txt1mm{
	width:99px;
	height:30px;
	border:1px solid #d6d6d6;
	float:left;
	}
.txt2mm{
	width:200px;
	height:30px;
	border:1px solid #d6d6d6;
	float:left;
	}
.txt3mm{
	width:520px;
	height:30px;
	border:1px solid #d6d6d6;
	float:left;
	}
/*******password****/
.mewrap{
	width:100%;
	float:left;
	margin-top:60px;
	padding-bottom:150px;
	}
.kahsd{
	width:100%;
	float:left;
	text-align:center;
	}
.kahsd p{
	width:100%;
	height:30px;
	}
.kahsd ul{
	width:100%;}
.kahsd ul li{
	width:220px;
	float:left;
	font-size:14px;
	line-height:25px;
	text-align:center;
	color:#333;
	height:25px;
	}
.kahsd ul li .yau{
	color:#e2cc8c;}
.kahsd ul li:hover a{
	color:#f8b500;
	font-weight:bold;}
.kahsd li:first-child{
	margin-left:170px;}
.rither ul{
	margin-left:220px;
	margin-top:50px;
	float:left;
	}
.rither ul li{
	width:600px;
	min-height:32px;
	margin-top:20px;
	float:left;
	}
.rither li .ria{
	float:left;
	height:30px;
	line-height:32px;
	color:#444444;
	width:90px;
	text-align:right;
	font-size:14px;
	}
.rither li .ria span{
	color:#ed3a36;
	}
.rither li .rib{
	height:30px;
	line-height:32px;
	color:#444444;
	font-size:14px;
	font-weight:bold;
	}
.rither ul li .rim{
	display:block;
	width:100%;
	text-align:center;
	}
.rither ul li .ril{
	color:#70c13a;
	font-size:30px;
	line-height:35px;
	width:100%;
	text-align:center;
	margin-top:25px;
	}
.rither li .ric{
	width:80px;
	height:30px;
	float:left;
	display:block;
	margin-left:6px;
	}
.rither li .rid{
	color:#444444;
	margin-left:12px;
	font-size:14px;
	line-height:30px;
	float:left;
	cursor:pointer;
	}
.rither li .rid .rie{
	color:#ff5400;
	}
.rither li .rif{
	width:114px;
	height:30px;
	float:left;
	border:1px solid #cccccc;
	background:#f0f0f0;
	display:block;
	line-height:30px;
	text-align:center;
	color:#333333;
	font-size:14px;
	cursor:pointer;
	}
.rither li .rig{
	color:#333333;
	font-size:14px;
	}
.rither li .rig .rih{
	color:#ff5400;
	}
.rither li .rii{
	width:146px;
	height:38px;
	display:block;
	border-bottom:1px solid #ce8e22;
	cursor:pointer;
	background:#f2a728;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	}
.txt8mm{
	width:200px;
	height:32px;
	border:1px solid #d6d6d6;
	float:left;
	}
.txt9mm{
	width:276px;
	height:32px;
	border:1px solid #d6d6d6;
	float:left;
	}
.txt10mm{
	width:98px;
	height:32px;
	border:1px solid #d6d6d6;
	float:left;
	}
.but3{
	width:146px;
	height:38px;
	display:block;
	border-bottom:1px solid #ce8e22;
	cursor:pointer;
	background:#f2a728;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	border:0;
	border-radius:3px;
	}
/*****卖家会员中心****/
.naoyma{
	font-size:14px;
	line-height:25px;
	color:#333;
	}
.naoyma a{
	color:#333;
	}
.naoyma span{
	color:#888;
	margin:0 5px;}
.chuaa{
	width:90px;
	height:25px;
	font-size:12px;
	border:0;
	background:#eeeeee;
	color:#333;
	cursor:pointer;
	margin-top:6px;
	}
/*****storelogo****/
.shoplogo{
	width:100%;
	text-align:center;
	margin:50px 0;
	}
.shoplogo p{
	font-size:14px;
	color:#666666;
	margin-top:20px;
	}
.shoplogo h3{
	font-size:14px;
	color:#333333;
	}
.btnad{
	width:100px;
	height:38px;
	cursor:pointer;
	background:#ff5500;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	border:0;
	border-radius:3px;}
/***salegoods****/
.tablecart2{
	width:100%;
	float:left;
	border-collapse:collapse;
	border:1px solid #e5e5e5;
	margin-top:12px;}
.tablecart2 th{
	border-bottom:1px solid #ededed;
	height:40px;
	font-size:14px;
	text-align:left;
	background:#f9f9f9;
	font-weight:normal;
	}
.tablecart2 th p{
	text-align:center;
	}
.tablecart2 td{
	border-bottom:1px solid #ededed;
	height:120px;
	font-size:12px;
	line-height:23px;
	color:#333;
	}
.centy a{
	color:#2e91e5;
	font-size:12px;
	}
/****relgoods******/
.span_title{
	width:100%;
	float:left;
	margin-top:20px;
	}
.span_title span{
	display:block;
	height:20px;
	border-left:4px solid #51cc61;
	font-size:18px;
	color:#444444;
	font-weight:bold;
	padding-left:12px;
	line-height:20px;}
.nuanfont{
	width:100%;
	float:left;
	margin-top:25px;
	font-size:12px;
	color:#444444;
	margin-bottom:5px;
	text-indent:20px;}
.borerch{
	width:100%;
	height:35px;
	float:left;
	}
.borerch .btnbb2{
	width:90px;
	float:left;
	height:30px;
	border:0;
	margin-left:10px;
	font-size:14px;
	line-height:30px;
	color:#fff;
	background:#ff9000;
	text-align:center;
	cursor:pointer;
	}
.borerch .texbs2{
	width:300px;
	float:left;
	height:28px;
	font-size:12px;
	line-height:28px;
	color:#b9b9b9;
	text-indent:10px;
	border:1px solid #e1e1e1;
	margin-left:2%;
	}
.mysbtsdd{
	width:96%;
	float:left;
	margin-top:18px;
	background-color:#f9f9f9;
	padding:30px 0;
	margin-left:2%;}
.mysbtsdd table{
	width:903px;
	margin-left:30px;
	background:#f4ecd6;
	padding-top:5px;
	}
.takedd{
	width:295px;
	height:315px;
	overflow-y:auto;
	overflow-x:none;
	background-color:#fff;
	margin-left:4px;
	margin-bottom:4px;

}
.yake_list{
	width:265px;
	height:400px;
	margin-left:10px;
	margin-top:12px;
	}
.yake_list li{
	font-size:12px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:25px;
	background: url(../images/bg12.jpg) no-repeat;
	cursor:pointer;
	width:265px;
	text-indent:5px;}
.yake_list li:hover{
	color:#333333;
	background: url(../images/bg9.jpg) no-repeat;
	}
.mmzuiyd{
	width:100%;
	height:30px;
	text-align:center;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999;
	margin-top:30px;
	margin-bottom:20px;
	float:left;}
.mmfgdg{
	width:100%;
	height:30px;
	float:left;
	margin-bottom:35px;
	text-align:center;}
.djreh{
	color:#2489d8;}
.gkrr{
	position:relative;
	top:3px;
	right:3px;}
.knhl{
	width:177px;
	height:40px;
	float:left;
	margin-left:400px;
	background-color:#ff9000;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	}
.knhl a{
	color:#fff;}
.maalert{
	width:903px;
	height:40px;
	border:1px solid #f3d7b2;
	background:#fdfcf3;
	font-size:12px;
	line-height:40px;
	color:#333333;
	font-weight:bold;
	float:left;
	margin-left:30px;
	position:relative;
	}
.maalert p{
	margin-left:15px;
	}
.maalert a{
	color:#333;
	font-weight:normal;
	}
.maalert .arrow{
	position:absolute;
	top:-7px;
	background:url(../images/ass3.png) no-repeat;
	width:10px;
	left:25px;
	z-index:111;
	height:9px;
	}
/*****发布产品2******/
.temdtxtas{
	width:520px;
	height:30px;
	border:1px solid #cccccc;
	float:left;
	font-size:14px;
	line-height:30px;
	color:#888;
	text-indent:5px;
	margin-right:10px;}
.clorbg{
	width:635px;
	border:1px solid #f0f0f0;
	background:#fdfdfd;
	float:left;
	padding:15px 0;
	}
.temdtxtwe{
	width:90px;
	height:30px;
	border:1px solid #cccccc;
	float:left;
	font-size:14px;
	line-height:30px;
	color:#888;
	text-indent:5px;
	margin-right:10px;}
.dijhj{
	float:left;
	font-size:14px;
	color:#333;
	line-height:30px;
	margin-right:10px;}
.jisia{
	float:left;
	font-size:14px;
	width:100%;
	line-height:30px;
	}
.jisia a{
	color:#ff5500;
	font-weight:bold;}
.zhnrdgu{
	float:left;
	margin-right:10px;
	width:100%;
	text-align:center;
	}
.zhnrdgu input{
	width:104px;
	height:34px;
	font-size:14px;
	border:0;
	background:#ff5400;
	border-radius:3px;
	color:#fff;
	cursor:pointer;}
.zhnrdgu p{
	font-size:12px;
	line-height:22px;
	color:#666666;
	margin-top:10px;}
.clorbg dl{
	width:100%;
	float:left;
	margin-top:30px;}
.clorbg dl dd{
	margin-left:5px;
	float:left;}
.brtns{
	width:175px;
	height:40px;
	background:#ffe0c5;
	font-size:18px;
	color:#fd6500;
	text-align:center;
	border:0;
	cursor:pointer;
	margin-right:20px;}
.bgjbg{
	background:#fdb900;
	color:#fff;}
/****postJob******/
.hatching{
	width:100%;
	float:left;
	margin-bottom:40px;
	}
.hatching li{
	width:100%;
	float:left;
	margin-bottom:20px;}
.memnfonta{
	width:180px;
	float:left;
	font-size:14px;
	line-height:35px;
	color:#333333;
	text-align:right;
	margin-right:10px;
	}
.txtmmc{
	width:408px;
	height:35px;
	border:1px solid #d7d7d7;
	border-radius:3px;
	float:left;
	text-indent:10px;
	float:left;
	font-size:14px;
	color:#999999;}
.memnfonta span{
	color:#ff0000;
	}
.txtmma{
	width:130px;
	height:35px;
	border:1px solid #d7d7d7;
	border-radius:3px;
	float:left;
	text-indent:10px;
	float:left;
	font-size:14px;
	color:#999999;
	margin-right:10px;
	}
.txtmmc{
	width:408px;
	height:35px;
	border:1px solid #d7d7d7;
	border-radius:3px;
	float:left;
	text-indent:10px;
	float:left;
	font-size:14px;
	color:#999999;}
.memfontb{
	float:left;
	font-size:14px;
	line-height:35px;
	color:#333333;
	margin-right:15px;
	margin-left:5px;}
.txtmmd{
	width:210px;
	height:35px;
	border:1px solid #d7d7d7;
	border-radius:3px;
	float:left;
	text-indent:10px;
	float:left;
	font-size:14px;
	color:#999999;
	margin-right:15px;}
.zhiwuua{
	width:710px;
	float:left;
	padding:15px;
	border:1px solid #d7d7d7;
	font-size:14px;
	color:#999999;}
.btnpal{
	background:#ff5400;
	height:40px;
	width:160px;
	font-size:18px;
	color:#fff;
	border:0;
	border-radius:3px;
	cursor:pointer;
	}
.paless{
	width:100%;
	text-align:center;}

.bluefont{
	color:#03a5e2;
	}
	
.palesss{
	width:100%;
	text-align:center;
	float:left;
	margin-top:40px;
	}
.palass{
	width:100%;
	text-align:center;
	font-size:30px;
	color:#333333;
	margin-top:10px;}
/**Post prescriptions*****/
	