<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="模版">
    <meta name="author" content="模版">
	<link rel="icon" href="__PUBLIC__/images/index.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/product.css">

<title>B2C首页</title>
</head>

<body>
    <div class="wrapper">
    <!--头部区域--->
	<include file="./shop/Home/View/header.html"/>
    <!--头部结束-->
        <div class="logmiddle marginbottom fontset">
            <div class="inner">
                <!----眼睛列表----->
                <div class="product_title">
                    <span class="ajib">全部 > </span>
                    <div class="ajia">品牌：<span>威古氏</span><a href="#"><img src="__PUBLIC__/images/ia19.png"></a></div>
                    <div class="reuhs">清除筛选</div>
                </div>
                <table cellpadding="0" cellspacing="0" class="glass">
                    <tr>
                        <td width="110" class="glassfont"><p class="">品牌：</p></td>
                        <td>
                            <div class="galssone">
                                <div class="galshous"><input type="text" value="请输入品牌名称" class=""><span><img src="__PUBLIC__/images/ia20.jpg"></span></div>
                                <a href="#">收起 <img src="__PUBLIC__/images/ia21.png"> </a>
                            </div>
                            <div class="galsstwo">
                                <a href="#">雷朋（RAY-BAN）</a><a href="#">雷朋（RAY-BAN）</a>
                                <a href="#">雷朋（RAY-BAN）</a><a href="#">雷朋（RAY-BAN）</a>
                                <a href="#">雷朋（RAY-BAN）</a><a href="#">雷朋（RAY-BAN）</a>
                                <a href="#">雷朋（RAY-BAN）</a><a href="#">雷朋（RAY-BAN）</a>
                                <a href="#">雷朋（RAY-BAN）</a><a href="#">雷朋（RAY-BAN）</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">适合人群：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">男士</a><a href="#">女士</a>
                                <a href="#">儿童</a><a href="#"> 通用/情侣</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">价格：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">0-200</a><a href="#">200-600</a>
                                <a href="#">600-1000  </a><a href="#"> 1000-2000 </a><a href="#">2000以上</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">功能：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">偏光太阳镜</a><a href="#">普通太阳</a>
                                <a href="#">镜夹片</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">材质：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">板材</a><a href="#">钛板</a>
                                <a href="#">TR90</a><a href="#">金属合金</a><a href="#">钨碳+板材</a>
                                <a href="#">木质</a><a href="#">纯钛</a><a href="#">钨碳</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">形状：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">椭圆</a><a href="#">圆形</a>
                                <a href="#">长方形</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="110" class="glassfont"><p class="">颜色：</p></td>
                        <td>
                            <div class="yujingc"><a href="#">红色</a><a href="#">灰色</a>
                                <a href="#">黄色</a><a href="#"> 黑色</a><a href="#"> 白色</a><a href="#"> 蓝色</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="dlaia">
                    <div class="seapai">
                        <span style="color:#333;">排序：</span>
                        <a href="#">  综合</a>
                        <a href="#"> 关注度</a>
                        <a href="#"> 上新时间</a>
                    </div>
                    <div class="secsix">
                        <div class="pegdaa">
                            <a href="#" class="greena">1 </a>
                            <a href="#" class="balw">/ 13</a>
                            <a href="#" class="nuamadd"> < </a>
                            <a href="#" class="nuamadd"> > </a>
                        </div>
                    </div>
                </div>
                <ul class="doyxilist">
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>
                    <li>
                        <span><img src="__PUBLIC__/images/img44.jpg"></span>
                        <p class="douone">¥500</p>
                        <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                        <p class="dousan">光明眼镜店</p>
                        <div class="douwfour">
                            <a href="#" class="btnhuang">点击查看</a>
                            <a href="#">马上收货</a>
                        </div>
                    </li>

                </ul>
                <div class="page">
                    <div class="pageli">
                        <a href="#">&lt;上一页</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="wyue">...</a>
                        <a href="#">10</a>
                        <a href="#" class="bihs">下一页&gt;</a>
                    </div>
                </div>
            </div>
        </div>

       <!-- 底部区域-->
	<include file="./shop/Home/View/foot.html"/>
    <!--底部结束-->

</div>

</body>

</html>