<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="模版">
    <meta name="author" content="模版">
	<link rel="icon" href="__PUBLIC__/images/index.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/product.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
 	<!--[if lt IE 9]><script src="__PUBLIC__/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <!--[if IE]-->
    <script>
        (function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
    </script>
    <!--[endif]-->
<title>B2C首页</title>
</head>

<body>
<include file="./shop/Home/View/header.html"/>
<!-----------查看购物车------------------------->

    <!--中间区域---->
    <div class="logmiddle marginbottom">
        <div class="inner">
            <!-----购物车导航----->
            <div class="uicart">
                <p><img src="__PUBLIC__/images/ic66.png"></p>
                <ul>
                    <li><a href="#" class="on">查看购物车 </a></li>
                    <li><a href="#">填写订单信息  </a></li>
                    <li><a href="#"> 在线支付  </a></li>
                    <li><a href="#">完成 </a></li>
                </ul>
            </div>
            <div class="cartfont">全部商品（<span class="yellow">4</span>）</div>
            <table cellpadding="0" cellspacing="0" class="tablecart">
                <tr>
                    <th scope="col" width="60"><p><input type="checkbox"></p> </th>
                    <th scope="col" width="550">商品名称</th>
                    <th scope="col" width="130">商品信息 </th>
                    <th scope="col" width="110">价格</th>
                    <th scope="col" width="135">数量</th>
                    <th scope="col" width="145">小计</th>
                    <th scope="col">操作</th>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="tablecart2">
                <tr>
                <tr>
                    <th scope="col" width="60"><p><input type="checkbox"></p> </th>
                    <th scope="col" width="550">商品名称</th>
                    <th scope="col" width="130">商品信息 </th>
                    <th scope="col" width="110">价格</th>
                    <th scope="col" width="135">数量</th>
                    <th scope="col" width="145">小计</th>
                    <th scope="col">操作</th>
                </tr>
                <tr>
                    <td width="60"><p class="centy"><input type="checkbox"></p></td>
                    <td width="550"><img src="__PUBLIC__/images/img43.jpg"><span width="350">
                    雷朋光学眼镜架 商务金属半框近视<br>配镜眼镜框</span></td>
                    <td width="160"><div class="xiucart"><p>镜宽：51</p><p>鼻梁：16</p><p>框架：140</p><p>镜高：39.8</p></div></td>
                    <td width="110">2000   </td>
                    <td width="130">
                        <div class="jaiadd">
                            <a href="#"><img src="__PUBLIC__/images/iao.jpg"></a>
                            <input type="text" value="4">
                            <a href="#"><img src="__PUBLIC__/images/iao2.jpg"></a>
                        </div>
                    </td>
                    <td width="115"> <span class="redfu"> 4000</span>     </td>
                    <td> <p class="centy"><a href="#"><img src="__PUBLIC__/images/ic70.png"></a>  <br><a href="#"><img src="__PUBLIC__/images/ic72.png"></a> </p></td>
                </tr>
                <tr>
                    <td width="60"><p class="centy"><input type="checkbox"></p></td>
                    <td width="180"><img src="__PUBLIC__/images/img43.jpg"></td>
                    <td width="350">雷朋光学眼镜架 商务金属半框近视<br>配镜眼镜框</td>
                    <td width="160"><div class=""><p>镜宽：51</p><p>鼻梁：16</p><p>框架：140</p><p>镜高：39.8</p></div></td>
                    <td width="110">2000   </td>
                    <td width="130">
                        <div class="jaiadd">
                            <a href="#"><img src="__PUBLIC__/images/iao.jpg"></a>
                            <input type="text" value="4">
                            <a href="#"><img src="__PUBLIC__/images/iao2.jpg"></a>
                        </div>
                    </td>
                    <td width="115"> <span class="redfu"> 4000</span>     </td>
                    <td> <p class="centy"><a href="#"><img src="__PUBLIC__/images/ic71.png"></a>  <br><a href="#"><img src="__PUBLIC__/images/ic72.png"></a> </p></td>
                </tr>
            </table>
            <div class="shopseb">
                <div class="shopble"><input name="" type="checkbox" value=""class="ribss" /><p>全选</p><p class="">删除</p></div>
                <div class="jixgo"><a href="#">继续购物</a></div>
                <div class="shopbmu">
                    <p>数量总计：2 </p>
                    <p>  优惠金额：0</p>
                    <p>金额总计：<span class="shbma">￥1000.00 </span>元</p>
                </div>
                <div class="jjjfr"><input name="" type="button" class="riajss" value="¥ 结算"/></div>
            </div>
            <div class="doyoulike"><span>猜你喜欢</span></div>
            <ul class="doyoulist">
                <li>
                    <span><img src="__PUBLIC__/images/img44.jpg"></span>
                    <p class="douone">¥500</p>
                    <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                    <p class="dousan">光明眼镜店</p>
                    <div class="doufour">
                        <a href="#" class="btnhuang">点击查看</a>
                        <a href="#">马上收货</a>
                    </div>
                </li>
                <li>
                    <span><img src="__PUBLIC__/images/img44.jpg"></span>
                    <p class="douone">¥500</p>
                    <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                    <p class="dousan">光明眼镜店</p>
                    <div class="doufour">
                        <a href="#" class="btnhuang">点击查看</a>
                        <a href="#">马上收货</a>
                    </div>
                </li>
                <li>
                    <span><img src="__PUBLIC__/images/img44.jpg"></span>
                    <p class="douone">¥500</p>
                    <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                    <p class="dousan">光明眼镜店</p>
                    <div class="doufour">
                        <a href="#" class="btnhuang">点击查看</a>
                        <a href="#">马上收货</a>
                    </div>
                </li>
                <li>
                    <span><img src="__PUBLIC__/images/img44.jpg"></span>
                    <p class="douone">¥500</p>
                    <p class="doutwo">雷朋光学眼镜架 商务金属半框近视配镜眼镜框 </p>
                    <p class="dousan">光明眼镜店</p>
                    <div class="doufour">
                        <a href="#" class="btnhuang">点击查看</a>
                        <a href="#">马上收货</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--底部区域---->
    <div class="guid_footer">
        <div class="inner">
            <ul class="guidbuy">
                <li><a href="#"><span>正</span><p>正品行货</p></a></li>
                <li><a href="#"><span>全</span><p>品类齐全</p></a></li>
                <li><a href="#"><span>保</span><p>无忧售后服务保证</p></a></li>
                <li><a href="#"><span>便</span><p>O2O上门服务</p></a></li>
                <li style="margin-right:0;"><a href="#"><span>天</span><p>天天低价</p></a></li>
            </ul>
        </div>
    </div>


<include file="./shop/Home/View/foot.html"/>
</body>

	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
</html>