<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="模版">
    <meta name="author" content="模版">
	<link rel="icon" href="__PUBLIC__/images/index.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/product.css">
 	<!--[if lt IE 9]><script src="__PUBLIC__/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <!--[if IE]-->
    <script>
        (function(){if(!/*@cc_on!@*/0)return;var e = "header,footer,nav,article,section".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
    </script>
    <!--[endif]-->
<title>B2C首页</title>
</head>

<body>
    <div class="wrapper">
    <!--头部区域--->
	<include file="./shop/Home/View/header.html"/>
    <!--头部结束-->
    <div class="headernav">
        <div class="inner">
            <!---左边导航-start---->
            <div class="rightnav"><a href="#" class="big">所有商品分类</a>
              <!--  <div class="downdrop">
                   <ul class="droplist">
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic3.jpg"></span> 男士眼镜</a></li>
                       <li class="on"><a href="#"><span class="ico"><img src="__PUBLIC__/images/er2.jpg"></span> 女士眼镜</a>
                          <div class="dropalert">
                              <ul class="drop_left">
                                 <li>
                                    <div class="droaa"><a href="#"><img src="__PUBLIC__/images/ic34.jpg"> 品牌</a></div>
                                    <div class="dropbb">
                                      <a href="#">雷朋/RAY-BAN </a><span>|</span>
                                      <a href="#"> 精工/SEIKO </a><span>|</span>
                                      <a href="#">暴龙/BOLON  </a><span>|</span>
                                      <a href="#"> 欧野/OYEA </a><span>|</span>
                                      <a href="#">依视路 </a><span>|</span>
                                      <a href="#">海俪恩/HORIEN</a><span>|</span>
                                      <a href="#">万宝龙/MontBlanc </a><span>|</span>
                                      <a href="#">李维斯/Levi's    </a><span>|</span>
                                      <a href="#"> 木九十  </a><span>|</span>
                                      <a href="#">眼镜生活/LOHO   </a><span>|</span>
                                      <a href="#">施华洛世奇/SWAROVSKI  </a><span>|</span>
                                      <a href="#">蔡司/ZEISS    </a><span>|</span>
                                      <a href="#">普莱斯/pulais  </a><span>|</span>
                                      <a href="#">吉普/JEEP</a>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="droaa"><a href="#"><img src="__PUBLIC__/images/ic35.jpg"> 风格</a></div>
                                    <div class="dropbb">
                                      <a href="#">商务 </a><span>|</span>
                                      <a href="#">休闲</a><span>|</span>
                                      <a href="#">潮款  </a><span>|</span>
                                      <a href="#"> 运动    </a><span>|</span>
                                      <a href="#"> 经典  </a><span>|</span>
                                      <a href="#"> 另类</a>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="droaa"><a href="#"><img src="__PUBLIC__/images/ic36.jpg"> 选购热点</a></div>
                                    <div class="dropbb">
                                      <a href="#">潮人</a><span>|</span>
                                      <a href="#">大脸眼镜</a><span>|</span>
                                      <a href="#">个性</a><span>|</span>
                                      <a href="#">小清新 </a><span>|</span>
                                      <a href="#">明星同款 </a><span>|</span>
                                      <a href="#">原宿风</a><span>|</span>
                                      <a href="#">显瘦</a>
                                    </div>
                                 </li>
                              </ul>
                            <div class="drop_right">
                               <div class="drop_rightbrand">
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                                 <a href="#"><img src="__PUBLIC__/images/img24.jpg"></a>
                               </div>
                               <div class="dropimgn"><a href="#"><img src="__PUBLIC__/images/img72.jpg"></a></div>
                            </div>
                          </div>
                       </li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic5.jpg"></span> 儿童眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic6.jpg"></span>老视眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic7.jpg"></span> 隐形眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic8.jpg"></span> 太阳眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic9.jpg"></span> 运动眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic10.jpg"></span>护目眼镜</a></li>
                       <li><a href="#"><span class="ico"><img src="__PUBLIC__/images/ic11.jpg"></span> 光学镜片</a></li>
                   </ul>
                </div>-->
            </div>
            <!---左边导航-end---->
            <!------右边的导航------->
            <ul class="nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">品牌</a></li>
                <li><a href="#">品牌</a></li>
                <li><a href="#">商城</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
        </div>
    </div>
    <!--banner---->
    <div class="banner">
        <ul class="aaa">
            <li style="background: url(../__PUBLIC__/images/banner.jpg) center center no-repeat;"></li>
        </ul>
        <div class="ban_contarner">
            <div class="inner">
                <div class="arrow_ban"><a href="#" class="allfet"><img src="__PUBLIC__/images/ic13.png"></a>
                    <a href="#" class="bllfet"><img src="__PUBLIC__/images/ic14.png"></a></div>
                <ul class="ban_brand">
                    <li><a href="#"><img src="__PUBLIC__/images/img10.jpg"></a></li>
                    <li><a href="#"><img src="__PUBLIC__/images/img11.jpg"></a></li>
                </ul>
            </div>
        </div>
        <div class="srcoll">
            <a href="#"><img src="__PUBLIC__/images/ta7.png"></a>
            <a href="#"><img src="__PUBLIC__/images/ta8.png"></a>
            <a href="#"><img src="__PUBLIC__/images/ta7.png"></a>
            <a href="#"><img src="__PUBLIC__/images/ta7.png"></a>
        </div>
    </div>

    <!--中间区域---->
    <div class="middle">
        <div class="inner">
            <div class="index_brad">
                <ul>
                    <li class="on"><a href="#">眼镜brand</a></li>
                    <li><a href="#">店铺brand</a></li>
                </ul>
                <div class="index_ayy"><a href="#">&lt; </a><a href="#">&gt; </a></div>
            </div>
            <!-------品牌列表------>
            <ul class="index_brandlist">
                <li><a href="#"><img src="__PUBLIC__/images/img.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img2.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img4.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img5.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img2.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img4.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img5.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img2.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img4.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img5.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img3.jpg"></a></li>
                <li><a href="#"><img src="__PUBLIC__/images/img6.jpg"></a></li>
            </ul>
            <div class="ban_index"><a href="#"><img src="__PUBLIC__/images/ban.jpg"></a></div>
            <ul class="ban_index" style="margin-bottom:5px;">
                <li><a href="#"><Img src="__PUBLIC__/images/img7.jpg"></a></li>
                <li><a href="#"><Img src="__PUBLIC__/images/img8.jpg"></a></li>
                <li style="margin-right:0;"><a href="#"><Img src="__PUBLIC__/images/img9.jpg"></a></li>
            </ul>
            <!------楼层one------>
           <!-- <div class="floor">
                <div class="zuofloor">
                    <ul>
                        <li class="floora" style="height:108px;"><a href="#"><img src="__PUBLIC__/images/ic15.png"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="dfoor"><a href="#"><img src="__PUBLIC__/images/img23.jpg"></a><span><img src="__PUBLIC__/images/ic22.png"></span></li>
                    </ul>
                </div>
                <div class="mdfloor"><a href="#"><img src="__PUBLIC__/images/img12.jpg"></a>
                    <div class="saler0">
                        <h3>防辐射</h3>
                        <p>防辐射眼镜防蓝光电脑镜</p>
                        <p class="red">¥860.00</p>
                    </div>
                </div>
                <div class="youfloor">
                    <ul>
                        <li class="cfloor">
                            <a href="#">
                                <div class="floorlea">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="floiian"><img src="__PUBLIC__/images/img20.jpg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!------楼层two------>
          <!--  <div class="floor borderred">
                <div class="zuofloor">
                    <ul>
                        <li class="floora" style="height:108px;"><a href="#"><img src="__PUBLIC__/images/ic16.png"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                        <li class="dfoor"><a href="#"><img src="__PUBLIC__/images/img23.jpg"></a><span><img src="__PUBLIC__/images/ic23.png"></span></li>
                    </ul>
                </div>
                <div class="mdfloor"><a href="#"><img src="__PUBLIC__/images/img13.jpg"></a>
                    <div class="saler0">
                        <h3 style="color:#cc003e;">防辐射</h3>
                        <p>防辐射眼镜防蓝光电脑镜</p>
                        <p class="red">¥860.00</p>
                    </div>
                </div>
                <div class="youfloor">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="flloorfont">
                                    <p>防蓝光电脑镜</p>
                                    <p class="red">¥860.00</p>
                                </div>
                                <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!------楼层three------>
            <!--  <div class="floor borderyeelow">
                  <div class="zuofloor">
                      <ul>
                          <li class="floora" style="height:108px;"><a href="#"><img src="__PUBLIC__/images/ic17.png"></a></li>
                          <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                          <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                          <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                          <li class="dfoor"><a href="#"><img src="__PUBLIC__/images/img23.jpg"></a><span><img src="__PUBLIC__/images/ic24.png"></span></li>
                      </ul>
                  </div>
                  <div class="mdfloor"><a href="#"><img src="__PUBLIC__/images/img14.jpg"></a>
                      <div class="saler0">
                          <h3 style="color:#f13e4c;">防辐射</h3>
                          <p>防辐射眼镜防蓝光电脑镜</p>
                          <p class="red">¥860.00</p>
                      </div>
                  </div>
                  <div class="youfloor">
                      <ul>
                          <li class="cfloor">
                              <a href="#">
                                  <div class="floorlea">
                                      <p>防蓝光电脑镜</p>
                                      <p class="red">¥860.00</p>
                                  </div>
                                  <div class="floiian"><img src="__PUBLIC__/images/img20.jpg"></div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="flloorfont">
                                      <p>防蓝光电脑镜</p>
                                      <p class="red">¥860.00</p>
                                  </div>
                                  <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <div class="flloorfont">
                                      <p>防蓝光电脑镜</p>
                                      <p class="red">¥860.00</p>
                                  </div>
                                  <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="ban_index"><a href="#"><img src="__PUBLIC__/images/ban2.jpg"></a></div>
              <!------楼层four------>
            <!--   <div class="floor borderpup">
                   <div class="zuofloor">
                       <ul>
                           <li class="floora" style="height:108px;"><a href="#"><img src="__PUBLIC__/images/ic18.png"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="dfoor"><a href="#"><img src="__PUBLIC__/images/img23.jpg"></a><span><img src="__PUBLIC__/images/ic24.png"></span></li>
                       </ul>
                   </div>
                   <div class="mdfloor"><a href="#"><img src="__PUBLIC__/images/img15.jpg"></a>
                       <div class="saler0">
                           <h3>防辐射</h3>
                           <p>防辐射眼镜防蓝光电脑镜</p>
                           <p class="red">¥860.00</p>
                       </div>
                   </div>
                   <div class="youfloor">
                       <ul>
                           <li class="cfloor">
                               <a href="#">
                                   <div class="floorlea">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="floiian"><img src="__PUBLIC__/images/img20.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <!------楼层five------>
            <!--   <div class="floor borderzi">
                   <div class="zuofloor">
                       <ul>
                           <li class="floora" style="height:108px; margin-top:-14px;"><a href="#"><img src="__PUBLIC__/images/ic19.png"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="__PUBLIC__/images/img19.jpg"></a></li>
                           <li class="dfoor"><a href="#"><img src="__PUBLIC__/images/img23.jpg"></a><span><img src="__PUBLIC__/images/ic25.png"></span></li>
                       </ul>
                   </div>
                   <div class="mdfloor"><a href="#"><img src="__PUBLIC__/images/img16.jpg"></a>
                       <div class="saler0">
                           <h3 style="color:#6548c2;">防辐射</h3>
                           <p>防辐射眼镜防蓝光电脑镜</p>
                           <p class="red">¥860.00</p>
                       </div>
                   </div>
                   <div class="youfloor">
                       <ul>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="__PUBLIC__/images/img22.jpg"></div>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <!------楼层six------>
            <!--   <div class="floor bordergreen">
                   <div class="zuofloor">
                       <ul>
                           <li class="floora" style="height:108px;"><a href="#"><img src="images/ic20.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="dfoor"><a href="#"><img src="images/img23.jpg"></a><span><img src="images/ic26.png"></span></li>
                       </ul>
                   </div>
                   <div class="mdfloor"><a href="#"><img src="images/img17.jpg"></a>
                       <div class="saler0">
                           <h3 style="color:#7cc745;">防辐射</h3>
                           <p>防辐射眼镜防蓝光电脑镜</p>
                           <p class="red">¥860.00</p>
                       </div>
                   </div>
                   <div class="youfloor">
                       <ul>
                           <li class="cfloor">
                               <a href="#">
                                   <div class="floorlea">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="floiian"><img src="images/img20.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img22.jpg"></div>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <!------楼层seven------>
            <!--   <div class="floor borderss">
                   <div class="zuofloor">
                       <ul>
                           <li class="floora" style="height:108px; margin-top:-14px;"><a href="#"><img src="images/ic21.png"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="lfoor"><a href="#"><img src="images/img19.jpg"></a></li>
                           <li class="dfoor"><a href="#"><img src="images/img23.jpg"></a><span><img src="images/ic26.png"></span></li>
                       </ul>
                   </div>
                   <div class="mdfloor"><a href="#"><img src="images/img18.jpg"></a>
                       <div class="saler0">
                           <h3 style="color:#f46253;">防辐射</h3>
                           <p>防辐射眼镜防蓝光电脑镜</p>
                           <p class="red">¥860.00</p>
                       </div>
                   </div>
                   <div class="youfloor">
                       <ul>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img22.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img21.jpg"></div>
                               </a>
                           </li>
                           <li>
                               <a href="#">
                                   <div class="flloorfont">
                                       <p>防蓝光电脑镜</p>
                                       <p class="red">¥860.00</p>
                                   </div>
                                   <div class="flood"><img src="images/img22.jpg"></div>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="ban_index"><a href="#"><img src="images/ban3.jpg"></a></div>
           </div>-->
       </div>
    </div>

       <!-- 底部区域-->
	<include file="./shop/Home/View/foot.html"/>
    <!--底部结束-->

</div>

</body>

	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
</html>