<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="模版">
    <meta name="author" content="模版">
	<link rel="icon" href="__PUBLIC__/images/index.ico">
    <link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/product.css" rel="stylesheet" type="text/css" />
 	<!--[if lt IE 9]><script src="__PUBLIC__/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
<title>B2C_注册</title>
</head>

<body>
	<div class="wrap">
     <!------头部部分------>
     <div class="loginheader">
       <div class="inner">
          <div class="logo"><a href="../index.html"><img src="__PUBLIC__/images/51jzl.png"></a></div>
          <div class="logospan">注册</div>
       </div>
     </div>
     <!------中间部分------>
     <div class="regmiddle" >
       <div class="inner">
           <!------start----->
              <div class="passw-lister register-lister" >
                 <ul>
                     <li class="passw-lister_h"><a href="#">帐号注册  </a></li>
                 </ul>
              </div>
              <div class="passw_box">
            <div class="regis-title">&nbsp;</div>
            <div class="regis-box"></div>
		         <div class="passwofe-one" style="float:left;margin-top:20px;width:800px;">
			        <ul>
						<li>
					         <p class="paa"><span class="pab">*</span> 注册帐号：</p>
						     <input type="text" placeholder="" class="text2">
							 <p class="pac"><img src="__PUBLIC__/images/ia33.png">请输入6-20位数字、字母或两个的组合</p>
					    </li>
						<li>
					         <p class="paa"><span class="pab">*</span>设置密码：</p>
						     <input type="text" placeholder="" class="text2">
							 <p class="pac"></p>
					    </li>
						<li>
					         <p class="paa"><span class="pab">*</span>确认密码：</p>
						     <input type="text" placeholder="" class="text2">
					    </li>
					    <li>
					         <p class="paa"><span class="pab">*</span>验证码：</p>
						     <input type="text" class="text4">
						     <span class="pah"><img src="__PUBLIC__/images/ia26.png"></span>
						     <p class="pai">看不清？<span class="paj">换一张</span></p>
					    </li>
						<li>
					         <p class="paa"></p>
                             <input name="" type="checkbox" value="" class="text5" />
						     <p class="pai">阅读并同意<a href="#" class="pap">《B2C注册协议》</a></p>
					    </li>
					    <li>
					         <p class="paa"></p>
						     <a href="#" class="but2">马上注册</a>
					    </li>
				    </ul>
			     </div>
				 <div class="regin-right" style="height:430px;">
				     <p>已经注册过？</p>
					 <a href="../login/login.html">登录</a>
				 </div>
			 </div>
           <!------end----->
       </div>
     </div>
	</div>
     <!------底部部分------>
	
	<include file="./shop/Home/View/foot2.html"/>	
</body>
<!--加载JS/朱相龙QQ:56494565-->
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
</html>