<meta charset="utf-8">
<style>
.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}</style>

<div class="loginfooter">
       <div class="inner">
          <div class="conaa">
             <a href="#">关于我们</a><span>|</span>
             <a href="#">联系我们</a><span>|</span> 
             <a href="#">商家入驻</a><span>|</span>
             <a href="#">友情链接</a><span>|</span>
             <a href="#">销售联盟</a><span>|</span>
             <a href="#">人才招聘</a>
             </div>
             <div class="copyright">Copyright © 2016 网纵团队 All rights reserved. 备案/许可证编号为：沪ICP备XXXXXXXX号 <a href="http://www.51jzl.com"> Design by 51jzl </a></div>
             <div class="beian"><a href="#"><img src="__PUBLIC__/images/ic31.jpg"></a>
             <a href="#"><img src="__PUBLIC__/images/ic32.jpg"></a>
             <a href="#"><img src="__PUBLIC__/images/ic33.jpg"></a></div>
       </div>
     </div>
