<meta charset="utf-8">
<link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css"/>

<div class="header">
    <div class="headtop">
        <div class="inner">
            <div class="hi">B2C首页 Hi , 欢迎来到51建站啦B2C商城<a href="index.php/login/login.html" style="color: red">亲，请登录</a><a href="index.php/register/register.html">
                免费注册</a></div>
            <div class="hilink">
                <a href="#">我的订单 <img src="__PUBLIC__/images/ta6.png"></a>
                <span>|</span>
                <a href="index.php/center/cart.html">购物车<b> 0</b> </a>
                <span>|</span>
                <a href="#"> 我的收藏</a>
                <span>|</span>
                <a href="#">客服中心 </a>
                <span>|</span>
                <a href="#">关注B2c <img src="__PUBLIC__/images/ta6.png"></a>
            </div>
        </div>
    </div>
    <div class="headdw">
        <div class="inner">
            <div class="logo"><a href="../index.html"><img src="__PUBLIC__/images/51jzl.png"></a></div>
            <div class="search">
                <div class="searchone">
                    <ul>
                        <li><input type="text" value="搜索商品" class="txta"></li>
                        <li><input type="button" value="搜 索" class="btna"></li>
                    </ul>

                </div>
                <!--<div class="searchtwo">
                  <a href="#">女士眼镜</a><a href="#">太阳眼镜</a>
                  <a href="#">远视眼镜</a><a href="#">隐形眼镜</a>
                  <a href="#">眼镜片</a><a href="#">眼镜架</a>
                  <a href="#">老花镜</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
